* {
    margin: 0;
}

body {
    background-image: url(../IMAGES/fond.png);
    background-size: cover;
    color:white;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
    }
    

    /* Barre Latéral */
        body::-webkit-scrollbar {
            width: 10px;           /* largeur de la barre verticale */
        }

        body::-webkit-scrollbar-track {
            background: #000000;    /* couleur du fond de la barre */
        }

        body::-webkit-scrollbar-thumb {
            background: #c38edc;  /* couleur du curseur */
            border-radius: 5px;    
        }

        body::-webkit-scrollbar-thumb:hover {
            background: #ffffff;   /* couleur au survol */
        }

    /* HEADER */

        header {
            width: 100%;
            height: 20%;
            margin: 0;
            padding: 20px;
            padding-bottom: 0;

            background-color: rgba(0, 0, 0, 0.30);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
        }

        #boiteLogo {
            width: 100%;
            font-size: 30px;
            font-family: 'Kanit', sans-serif;
            font-weight: 700;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 20px;
            margin-bottom: 20px;
        }

        #logoHeader {
            width: 40px;
            height: auto;
        }


        #boiteLiens {
            width: 70%;
            max-width: 590px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.70);
            font-family: "Merriweather Sans", sans-serif;
            font-style: normal;
            font-size: 16px;
            
            display: flex;
            justify-content:center;
            align-items: center;

            padding-left: 20px;
            padding-right: 20px;
            gap: 80px;
            border-radius: 10px 10px 0 0;

            box-shadow: 0 0 20px #c38edc;
        }

        .liensHeader {
            text-decoration: none;
            color: white;
            transition: transform 0.3s;
        }

        .liensHeader:hover {
            color: #d67eff;
        }

        #mail, #profil, #accueil {
            min-width: 100%;
            max-width: 30px;
            height: auto;
        }

        .profil-container {
            width: 100vw;
            height: auto;
            background-image: url(../IMAGES/fond_test.png);
            background-size: cover;
            

            position: relative; /* point d’ancrage du menu déroulant*/
            overflow: hidden;

        }


        #fondMenuD {
            width: auto;
            height: auto;
            background-color: rgba(0, 0, 0, 0.7);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

           position: relative;
           left: 50%;
            transform: translateX(-50%); /* centrer horizontalement */

 
            
            border-right: 0.3px solid rgb(160, 125, 255);
            border-left: 0.3px solid rgb(125, 205, 255);
            border-radius: 10px;  

            padding: 20px;
            margin: 0; 

            /*box-shadow: -4px 4px 10px rgb(14, 116, 179);*/
            z-index: 100;
            align-self: center;

        }

        #boiteDeco {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

        }

        #deconnection {
            width: 30px;
            height: 30px;
            background-color: transparent;
            background-image: url("../IMAGES/Icons_site/deco.png");
            background-size: cover;

            border: none;
            border-radius: 100%;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        #deconnection:hover {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px 0 #0b051c;
        }

        #deconnection:active {
            transform: translateY(2px);
            box-shadow: 0 -5px 10px 0 #0b051c;
        }

        #pdpProfil{
            width: 30%;
            max-width: 150px;
            height: 30%;
            max-height: 150px;

            border-radius: 100%;
            box-shadow: 0 3px 10px rgba(8, 72, 112, 0.7);

            margin-bottom: 10px;
        }

        #modifProfil {
            text-decoration: none;

            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            color: white;
            font-weight: 400;

             margin-bottom: 10px;
        }

        #ligneSepaMenuD {
            border: none;
            width: 90%;       
            height: 0.2px;          
            background-color: #2F8FCA; 

            margin-bottom: 15px;
        }

        #pseudo {
            font-family: 'Inter', sans-serif;
            font-size: 24px;
            font-weight: 200;
            color: white;

            margin-bottom: 3px;
        }

        #role {
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            font-weight: bold;

            margin-bottom: 40px;
        }

        #boiteLiensMenu {
            width: auto;
            height: auto;
            background-color: rgba(0, 0, 0, 0.7);

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            border-radius: 0 0 0 10px;
            box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);

            padding: 20px;
            gap: 0;
        }

        .titreMenu {
            font-family: 'Michroma', sans-serif;
            font-size: 26px;
            font-weight: 500;
            color: rgb(0, 0, 0);

            text-shadow: -1px 1px 1px rgb(var(--menu-color, 175, 224, 255));
        }

        .mesEventsLiens {
            list-style: none;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 10px;
            padding: 10px;
        }

        .mesEventsLiens li {
            position: relative;
            padding-left: 20px;
        }


        .mesEventsLiens li::after {
            content: "";
            position: absolute;
            top: 30%;
            left: 0;

            width: 8px;
            height: 8px;

            transform: rotate(45deg);

            border-top: 0.2px solid rgb(var(--menu-color, 175, 224, 255), 0.2);
            border-right: 0.2px solid rgb(var(--menu-color, 175, 224, 255), 0.4);
            border-bottom: 0.2px solid rgb(var(--menu-color, 175, 224, 255), 0.6);
            border-left: 0.2px solid rgb(var(--menu-color, 175, 224, 255), 0.8);

            background: transparent;
        }


        .liensGlobal {
            text-decoration: none;
            color: rgb(var(--menu-color, 175, 224, 255));

            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            font-weight: 300;
        }



        #ligneP {
            border: none;       
            height: 0.2px;          
            background-color: rgb(255, 255, 255); 
        }


    /* MENU */

        menu {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 0;
            padding: 0;

        }

    /* FOOTER */
            
        footer {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);

            margin-top: 50px;
            margin-bottom: 50px;
            padding: 50px 0 50px 0;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

        }


        /* LOGO ESPORTIFY*/

            #boiteLogoF {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #logoFooter {
                width: 100px;
                height: 100px;
                opacity: 0.5;
            }

            #esportFooter {
                font-size: 40px;
                font-family: 'Kanit', sans-serif;
                font-weight: bold;
                opacity: 0.5;
            }


        /* LIENS */

            #boiteLiensF{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 50px;
            }

            #liensSitesF {
                width: 735px;
                height: 80px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: 80px;
                
                border: 0.5px solid rgb(193, 117, 255);
                box-shadow: 0 0 10px 1px rgb(221, 0, 255);
            }

            .liensPrincipauxF {
                text-decoration: none;
                
                font-family: 'inter', sans-serif;
                font-size: 18px;
                color: white;
            }

            .liensPrincipauxF:hover {
                color: rgb(193, 117, 255);
                text-shadow: 0 0 10px rgb(221, 0, 255);
            }

            #confidentialité {
                width: 550px;
                height: 33px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: 80px;
            }

            .liensConfidentialiteF {
                text-decoration: none;

                font-family: 'inter', sans-serif;
                color: white;
                font-size: 14px;
                font-weight: lighter;
            }

            .liensConfidentialiteF:hover {
                color: rgb(221, 0, 255);
                text-shadow: 0 0 10px rgb(221, 0, 255);
            }


        /* CONNEXION / INSCRIPTION */

            #profilF {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 20px;
                
            }

            #pdpF {
                width: 100px;
                height: 100px;
            }

            #connexionF {
                text-decoration: none;
                
                font-family: 'inter', sans-serif;
                color: rgb(209, 156, 255); 
                font-size: 17px;
                font-weight: lighter;
            }

            #connexionF:hover {
                color: rgb(236, 214, 255);
            }


/* Responsive Design Phone*/
@media (max-width: 768px) {

        body::-webkit-scrollbar-track {
            background: transparent;    /* couleur du fond de la barre */
        }

        body::-webkit-scrollbar-thumb {
            background: transparent; 
        }

        body::-webkit-scrollbar-thumb:hover {
            background: transparent;   /* couleur au survol */
        }

    header {
        padding: 10px 0px 0px 0px;
    }


    #boiteLiens {
        width: 90%;
        gap: 10%;
    }

    #paraBienvenue {
        font-size: 12px;
    }




    /* MENU */

        /* PRESENTATION */

            #presentation {
                width: 100%;
                height: auto;
                background-color: rgba(0, 0, 0, 0.30);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                padding: 50px 0 50px 0;
                
                position: relative;
                z-index: 5; /* plus grand que les images */

            }

            #titreBienvenue {
                font-size: 25px;
            }

            .paraBienvenue {
                width: 80%;
                font-size: 14px;
            }

            #paraFondation {
                font-size: 12px;
            }


 /* GALERIE */

    #galerie {
        gap: 10px;
    }


    .imgGalerie {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
    }

    /* Images Basiques de la galerie */

            .galerie li:nth-child(1) .imgGalerie {
            transform: translateY(-30px);
            }

            .galerie li:nth-child(2) .imgGalerie {
            transform: translateY(-10px);
            }

            .galerie li:nth-child(3) .imgGalerie {
            transform: translateY(0);
            }


            .galerie li:nth-child(4) .imgGalerie {
            transform: translateY(-10px);
            }

            .galerie li:nth-child(5) .imgGalerie {
            transform: translateY(-30px);
            } 


            #boiteBtnGalerie {
                width: 70vw;
                height: 40px;
            }

            #btnGalerie {
                width: 70vw;
                height: 40px;

                font-size: 12px;
            }

    /* EVENEMENTS */

    #titreEvents {
        font-size: 35px;
    }

    #events {
        flex-direction: column;
    }

    article {
        width: 80%;
    }


    /* FOOTER */
            
        footer {
            flex-direction: column;
            justify-content: center;
        }

        /* LOGO ESPORTIFY*/


            #logoFooter {
                width: 15%;
                height: 15%;
            }

            #esportFooter {
                font-size: 20px;
                margin-bottom: 20px;
            }


        /* LIENS */

            #boiteLiensF{
                gap: 50px;
            }

            #liensSitesF {
                width: 50%;
                height: auto;
                flex-direction: column;

                gap: 30px;

                padding: 30px;
            }

            .liensPrincipauxF {
                font-size: 14px;
            }

            #confidentialité {
                width: 50%;
                height: auto;

                gap: 50px;
            }

            .liensConfidentialiteF {
                font-size: 12px;
            }


        /* CONNEXION / INSCRIPTION */

            #profilF {
                display: none;
            }
        }