

    /* MENU */

        menu {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 0;

        }

        #fondMenu {
            width: 100%;
            height: auto;
            background-color: rgb(16, 2, 32); 

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0;

            border-top: 0.2px solid rgb(178, 0, 255);
            border-bottom: 0.2px solid rgb(178, 0, 255);
            box-shadow: 0 0 10px rgb(237, 209, 255);
        }

        #formulaireCo {
            width: 30%;
            height: auto;
            background-image: url(../../IMAGES/fond.png);
        }

        #fondNoir {
            width: 100%;
            background-color: rgba(34, 7, 64, 0.7);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            padding: 40px 0;
            border: 0.2px solid rgb(178, 0, 255);
            box-shadow: 0 0 10px rgba(237, 209, 255, 0.5);
        }

        #ImgMail {
            width: 20%;
            height: auto;

            position: relative;
        }

        #boiteTitre {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 0 0 20px 0;
        }

        #titre {
            background-color: transparent;
            color: white;
            border: none;

            font-family: 'Kanit', sans-serif;
            font-size: 22px;
            font-weight: bold;

            position: relative;
        }

        #paraPrincipal {
            font-family: 'Kanit', sans-serif;
            font-size: 14px;
            text-align: center;

            padding-right: 20px;
            padding-left: 20px;
        }

        #formulaireConnexion {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding-top: 0;
        }

        #boiteFormulaireConnexion {
            width: 80%;
            height: auto;

        }


        #boiteMotifs, #boiteExplication {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            gap: 5px;

            position: relative;
            margin-top: 20px;
        }

        #boiteMotifs select {
            width: 100%;
            background-color: rgb(16, 2, 32);

            color: white;
            font-size: 12px;

            padding: 10px 10px 10px 10px;

            border-radius: 5px;
            border: 0.2px solid rgb(178, 0, 255);
            
            appearance: none; /* enlève le style par défaut */
            cursor: pointer;
        }

        /* Flèche personnalisée */
        #boiteMotifs::after {
            content: "▼";

            position: absolute;
            right: 10px;
            top: 55%;
            bottom: 50%;
            
            pointer-events: none;
            font-size: 12px;
            color: rgb(229, 169, 255);
        }

        #boiteMotifs select:focus {
            border-color: #353cff;
            outline: none;
        }

        #boiteMotifs option:checked {
            background-color: rgb(229, 169, 255);
            color: rgb(16, 2, 32);
        }
        
        #motifs, #titreMsg {
            font-family: 'Kanit', sans-serif;
            font-size: 14px;
        }

        #message {
            width: 100%;
            background-color: rgb(16, 2, 32);

            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 12px;

            padding: 10px;

            border-radius: 5px;
            border: 0.2px solid rgb(178, 0, 255);
        }

        #message:focus {
            border-color: #353cff;
            outline: none;
        }


        #btnEnvoi {
            width: 30%;
            height: auto;

            background-color: rgb(147, 106, 166);
            color: white;

            font-family: 'Kanit', sans-serif;
            font-size: 12px;

            border: 0.5px solid #251A34;
            border-radius: 5px;
            box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.50);

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding: 5px;
            
        }

        #btnEnvoi:hover:hover {
            background-color: #ffffff;
            color: rgb(147, 106, 166);
        } 

        #btnEnvoi:before::before {
            background-color: rgb(147, 106, 166);
            color: white;
        }



    /* ALERTE INSCRIPTION */

        #fondNoirA {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.80);

            position: absolute;
            top: 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            z-index: 2;

        }

        #alerte {
            width: 30%;
            height: auto;
            background-color: rgba(147, 106, 166);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            gap: 10px;

            border-radius: 10px;
            border: 0.5px solid rgb(255, 255, 255);

            margin: 200px;
            padding: 60px 80px 60px 80px;
        }

        #imgAlerte {
            width: 50px;
            height: 50px;
        }

        #titreAlerte {
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
        }

        #paraAlerte {
            font-size: 16px;
            font-family: 'Inter', sans-serif;

            padding-top: 20px;
            padding-bottom: 20px;
        }

        #btnAlerte {
            width: 200px;
            height: auto;
            background-color: rgba(255, 255, 255);

            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            border: none;
            border-radius: 5px;

            padding: 7px;
        }

        #btnAlerte:hover {
            background-color: rgb(138, 0, 201);
            color: white;
        }

    