
    /* MENU */

        menu {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 0;

        }

        #fondMenu {
            width: 100%;
            height: auto;
            background-color: rgb(16, 2, 32); 

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 100px;

            border-top: 0.2px solid rgb(178, 0, 255);
            border-bottom: 0.2px solid rgb(178, 0, 255);
            box-shadow: 0 0 10px rgb(237, 209, 255);
        }

        #formulaireCo {
            width: 70%;
            height: auto;
            background-image: url(../IMAGES/fond.png);
            background-size: cover;
        }

        #fondNoir {
            width: 100%;
            background-color: rgba(34, 7, 64, 0.7);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            padding: 40px 0;
            border: 0.2px solid rgb(178, 0, 255);
            box-shadow: 0 0 10px rgba(237, 209, 255, 0.5);
        }

        #paraPrincipalCo {
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
            text-align: center;

            padding-right: 20px;
            padding-left: 20px;
        }

        