* {
    margin: 0;
}

body {
    background-image: url(/IMAGES/fond.png);
    background-size: cover;
    color:white;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
    }
    

    /* Barre Latéral */
        body::-webkit-scrollbar {
            width: 10px;           /* largeur de la barre verticale */
        }

        body::-webkit-scrollbar-track {
            background: #000000;    /* couleur du fond de la barre */
        }

        body::-webkit-scrollbar-thumb {
            background: #c38edc;  /* couleur du curseur */
            border-radius: 5px;    
        }

        body::-webkit-scrollbar-thumb:hover {
            background: #ffffff;   /* couleur au survol */
        }

    /* HEADER */

        header {
            width: 100%;
            height: 20%;
            margin: 0;
            padding: 20px;
            padding-bottom: 0;

            background-color: rgba(0, 0, 0, 0.30);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
        }

        #boiteLogo {
            width: 100%;
            font-size: 30px;
            font-family: 'Kanit', sans-serif;
            font-weight: 700;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 20px;
            margin-bottom: 20px;
        }

        #logoHeader {
            width: 40px;
            height: auto;
        }


        #boiteLiens {
            width: 70%;
            max-width: 590px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.70);
            font-family: "Merriweather Sans", sans-serif;
            font-style: normal;
            font-size: 16px;
            
            display: flex;
            justify-content:center;
            align-items: center;

            padding-left: 20px;
            padding-right: 20px;
            gap: 80px;
            border-radius: 10px 10px 0 0;

            box-shadow: 0 0 20px #c38edc;
        }

        .liensHeader {
            text-decoration: none;
            color: white;
            transition: transform 0.3s;
        }

        .liensHeader:hover {
            color: #d67eff;
        }

        #mail{
            min-width: 100%;
            max-width: 30px;
            height: auto;
        }

        #profil {
            min-width: 100%;
            max-width: 30px;
            height: auto;
        }

        hr {
        border: none;       
        height: 0.2px;          
        background-color: rgb(255, 255, 255); 
        }

    /* MENU */

        menu {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 0;

        }

        #fondMenu {
            width: 100%;
            height: auto;
            background-color: rgb(16, 2, 32); 

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0;

            border-top: 0.2px solid rgb(178, 0, 255);
            border-bottom: 0.2px solid rgb(178, 0, 255);
            box-shadow: 0 0 10px rgb(237, 209, 255);
        }

        #formulaireCo {
            width: 30%;
            height: auto;
            background-image: url(/IMAGES/fond.png);
        }

        #fondNoir {
            width: 100%;
            background-color: rgba(34, 7, 64, 0.7);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            padding: 40px 0;
            border: 0.2px solid rgb(178, 0, 255);
            box-shadow: 0 0 10px rgba(237, 209, 255, 0.5);
        }

        #pdp {
            width: 150px;
            height: 150px;

            position: relative;
            top: 10px;
        }

        #boiteCoIn {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            padding: 20px;
            gap: 40px;

        }

        #paraCo, #paraInscription {
            background-color: transparent;
            color: white;
            border: none;

            font-family: 'Kanit', sans-serif;
            font-size: 18px;
            font-weight: bold;

            position: relative;
            padding-bottom: 8px;
        }

        #paraCo::after, #paraInscription::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 2px;
            background-color: rgb(226, 178, 255);
            box-shadow: 0 0 10px rgba(255, 255, 255);

            transform: scaleX(0);
            transition: transform 0.3s ease;
        }


       #paraCo.active::after, #paraInscription.active::after {
                transform: scaleX(1);

        }

        .from-left::after {
            transform-origin: left;
        }

        .from-right::after {
            transform-origin: right;
        }



        #paraPrincipalCo, #paraPrincipalIn {
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
            text-align: center;

            padding-right: 20px;
            padding-left: 20px;
        }

        #formulaireConnexion {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding-top: 0;
        }

        #boiteFormulaireConnexion {
            width: 80%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 20px;
            padding-top: 20px;
        }

        .champsForm {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 3px;

            font-family: 'Kanit', sans-serif;
            font-size: 14px;
            font-weight: lighter;
        }

        input {
            width: 90%;
            height: auto;

            padding: 10px 40px 10px 10px;
        }

        #boiteMdp {
            position: relative;
        }
        

        #oeilMdp {
            width: 30px;
            height: 30px;

            position: absolute;
            right: 1px;
            bottom: 5px;
        }

        #mdpOublie {
            width: 85%;
            text-decoration: none;

            font-family: 'Kanit', sans-serif;
            font-size: 12px;
            font-weight: 400;
            color: rgba(255, 255, 255);
            
            display: flex;
            justify-content: flex-end;

            margin-top: 3px;

            
        }

        #btnCo, #btnIn {
            width: 140px;
            height: 40px;

            background-color: rgb(147, 106, 166);
            color: white;

            font-family: 'Kanit', sans-serif;
            font-size: 14px;

            border: 0.5px solid #251A34;
            border-radius: 5px;
            box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.50);

            display: flex;
            justify-content: center;
            align-items: center;
            

            margin-top: 20px;
            padding: 5px;
            
        }

        #btnCo:hover, #btnIn:hover {
            background-color: #ffffff;
            color: rgb(147, 106, 166);
        } 

        #btnCo:before, #btnIn::before {
            background-color: rgb(147, 106, 166);
            color: white;
        }



    /* ALERTE INSCRIPTION */

        #fondNoirA {
            width: 100%;
            height: 90%;
            background-color: rgba(0, 0, 0, 0.80);

            position: absolute;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            z-index: 2;

        }

        #alerte {
            width: 500;
            height: 150px;
            background-color: rgba(147, 106, 166);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            gap: 10px;

            border-radius: 10px;
            border: 0.5px solid rgb(255, 255, 255);

            margin: 200px;
            padding: 60px 80px 60px 80px;
        }

        #imgAlerte {
            width: 50px;
            height: 50px;
        }

        #titreAlerte {
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
        }

        #paraAlerte {
            font-size: 16px;
            font-family: 'Inter', sans-serif;

            padding-top: 20px;
            padding-bottom: 20px;
        }

        #btnAlerte {
            width: 200px;
            height: auto;
            background-color: rgba(255, 255, 255);

            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            border: none;
            border-radius: 5px;

            padding: 7px;
        }

        #btnAlerte:hover {
            background-color: rgb(138, 0, 201);
            color: white;
        }

         
    /* FOOTER */
            
        footer {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);

            margin-top: 0;
            margin-bottom: 50px;
            padding: 50px 0 50px 0;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

        }


        /* LOGO ESPORTIFY*/

            #boiteLogoF {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #logoFooter {
                width: 100px;
                height: 100px;
                opacity: 0.5;
            }

            #esportFooter {
                font-size: 40px;
                font-family: 'Kanit', sans-serif;
                font-weight: bold;
                opacity: 0.5;
            }


        /* LIENS */

            #boiteLiensF{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 50px;
            }

            #liensSitesF {
                width: 735px;
                height: 80px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: 80px;
                
                border: 0.5px solid rgb(193, 117, 255);
                box-shadow: 0 0 10px 1px rgb(221, 0, 255);
            }

            .liensPrincipauxF {
                text-decoration: none;
                
                font-family: 'inter', sans-serif;
                font-size: 18px;
                color: white;
            }

            .liensPrincipauxF:hover {
                color: rgb(193, 117, 255);
                text-shadow: 0 0 10px rgb(221, 0, 255);
            }

            #confidentialité {
                width: 550px;
                height: 33px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                gap: 80px;
            }

            .liensConfidentialiteF {
                text-decoration: none;

                font-family: 'inter', sans-serif;
                color: white;
                font-size: 14px;
                font-weight: lighter;
            }

            .liensConfidentialiteF:hover {
                color: rgb(221, 0, 255);
                text-shadow: 0 0 10px rgb(221, 0, 255);
            }
            


        /* CONNEXION / INSCRIPTION */

            #profilF {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 20px;
                
            }

            #pdpF {
                width: 100px;
                height: 100px;
            }

            #connexionF {
                text-decoration: none;
                
                font-family: 'inter', sans-serif;
                color: rgb(209, 156, 255); 
                font-size: 17px;
                font-weight: lighter;
            }

            #connexionF:hover {
                color: rgb(236, 214, 255);
            }


/* Responsive Design Phone*/
@media (max-width: 768px) {

        body::-webkit-scrollbar-track {
            background: transparent;    /* couleur du fond de la barre */
        }

        body::-webkit-scrollbar-thumb {
            background: transparent; 
        }

        body::-webkit-scrollbar-thumb:hover {
            background: transparent;   /* couleur au survol */
        }

    header {
        padding: 10px 0px 0px 0px;
    }


    #boiteLiens {
        width: 90%;
        gap: 10%;
    }

    #paraBienvenue {
        font-size: 12px;
    }



 /* GALERIE */

    #galerie {
        gap: 10px;
    }


    .imgGalerie {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
    }

    /* Images Basiques de la galerie */

            .galerie li:nth-child(1) .imgGalerie {
            transform: translateY(-30px);
            }

            .galerie li:nth-child(2) .imgGalerie {
            transform: translateY(-10px);
            }

            .galerie li:nth-child(3) .imgGalerie {
            transform: translateY(0);
            }


            .galerie li:nth-child(4) .imgGalerie {
            transform: translateY(-10px);
            }

            .galerie li:nth-child(5) .imgGalerie {
            transform: translateY(-30px);
            } 


            #boiteBtnGalerie {
                width: 70vw;
                height: 40px;
            }

            #btnGalerie {
                width: 70vw;
                height: 40px;

                font-size: 12px;
            }

    /* EVENEMENTS */

    #titreEvents {
        font-size: 35px;
    }

    #events {
        flex-direction: column;
    }

    article {
        width: 80%;
    }



    /* MENU */

        #fondMenu {
            width: 100%;
            padding: 0;
        }

        #formulaireCo {
            width:80%;
        }

        #fondNoir {
            padding: 30px 0 30px 0;
        }

        #pdp {
            width: 100px;
            height: 100px;
        }

        #boiteCoIn {
            gap: 20px;
        }

        #paraCo, #paraInscription {
            font-size: 12px;
            font-weight: 500;
        }



        #paraPrincipalCo, #paraPrincipalIn {
            font-size: 16px;
        }

        #boiteFormulaireConnexion {
            width: 70%;

            gap: 20px;
        }

        .champsForm {
            width: 90%;
            gap: 3px;

            font-size: 12px;
        }

        input {
            width: 90%;
            height: auto;
        }
        

        #oeilMdp {
            width: 20px;
            height: 20px;

            left: 100%;
            bottom: 10px;
        }

        #mdpOublie {
            width: 75%;

            font-size: 10px;
        }

        #btnCo, #btnIn {
            width: 50%;
            height: 30px;

            font-size: 12px;

            margin-top: 30px;
            
        }


    /* ALERTE INSCRIPTION */

        #fondNoirA {
            width: 100%;
            height: 100%;

            top: 0;
        }

        #alerte {
            width: 70%;
            height: auto;

            gap: 7px;

            margin: 50% 0 50% 0;
            padding: 30px 20px 30px 20px;
        }

        #titreAlerte {
            width: 100%;
            font-size: 20px;
        }

        #paraAlerte {
            font-size: 12px;
            font-weight: 500;

            padding: 10px 0 30px 0;
        }

        #btnAlerte {
            width: 50%;

            font-size: 14px;
        }


    /* FOOTER */
            
        footer {
            flex-direction: column;
            justify-content: center;
        }

        /* LOGO ESPORTIFY*/


            #logoFooter {
                width: 15%;
                height: 15%;
            }

            #esportFooter {
                font-size: 20px;
                margin-bottom: 20px;
            }


        /* LIENS */

            #boiteLiensF{
                gap: 50px;
            }

            #liensSitesF {
                width: 50%;
                height: auto;
                flex-direction: column;

                gap: 30px;

                padding: 30px;
            }

            .liensPrincipauxF {
                font-size: 14px;
            }

            #confidentialité {
                width: 50%;
                height: auto;

                gap: 50px;
            }

            .liensConfidentialiteF {
                font-size: 12px;
            }


        /* CONNEXION / INSCRIPTION */

            #profilF {
                display: none;
            }
        }