   
   body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
    
    .boiteContenu {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: 'Inter', sans-serif;
    }

    #titreEnCours, #titreDemande {
        width: 100%;
        height: auto;
        background: rgb(10, 0, 18);
        
        text-align: center;
        text-shadow: 0 0 5px rgba(255, 255, 255);

        border-top: 0.5px solid rgba(255, 255, 255);
        border-right: 0.5px solid rgba(255, 255, 255);
        border-bottom: 0.5px solid rgba(255, 255, 255);
        border-left: 0.5px solid rgba(255, 255, 255);
        
        padding: 20px;
    }

    .paraDefault {
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.1);;
    }
    
    
    .containerEventsEnCours, .containerDemandes {
        width: 80%;
        background-color: rgba(0, 0, 0, 0.7);
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border: 0.5px solid rgb(166, 0, 255);
        border-top: none;
        border-radius: 0 0 10px 10px;

        margin-bottom: 30px;
        padding: 50px;
    }
   
   

    article {
        
        width: 25%;
        height: auto;

        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 30px 30px 30px;
        padding: 0;

    }

    .fondArticles {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        
        padding: 10px;
    }

    .imgJeuFond {
        width: 100%;
        height: 150px;
        background-size: cover;

        border-radius: 10px;

    }

    .fondNoir {
        width: 100%;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.5);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        
        gap: 10px;
    }

    .logoJeu {
        width: 60px;
        height: 60px;

        border-radius: 100%;
        box-shadow: 0 0 10px rgb(178, 178, 178);
    }

    .paraJeu {
        font-family: 'inter', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }


    .overflowArticle {
        width: 100%;
        position: relative;
        overflow: hidden;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 0.2px solid transparent;
        border-radius: 0px 0px 10px 10px;
        margin: 0;
    }

    .overflowArticle::before {
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        background: radial-gradient(circle, var(--halo-color, rgba(188,129,255,0.6)), transparent 70%);
        filter: blur(60px);
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;

        z-index: -1;

    }

    .overflowArticle:hover {
        
        border-top: none;
        border-right: 0.2px solid var(--halo-color, rgba(188,129,255));
        border-bottom: 0.2px solid var(--halo-color, rgba(188,129,255));
        border-left: 0.2px solid var(--halo-color, rgba(188,129,255));
    }

    .overflowArticle:hover::before {
        opacity: 1;
    }

    .overflowArticle::before {
        left: var(--x);
        top: var(--y);
    }

    .titreEvent {
        font-family: 'inter', sans-serif;
        font-size: 20px;
        font-weight: lighter;

        margin-top: 20px;
        margin-bottom: 10px;

    }

    .desc {
        width: 90%;
        height: auto;

        font-family: 'Kanit', sans-serif;
        font-size: 14px;
        text-align: center;

        margin-bottom: 30px;
    }

    .boiteHoraire {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
        
        font-family: 'inter', sans-serif;
        font-weight: 500;
        font-size: 14px;

        margin-bottom: 15px;

    }

    .imgCalendrier {
        width: 7%;
        height: 7%;

        margin-left: 40px;
    }


    .boiteRecompense {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
        
        font-family: 'inter', sans-serif;
        font-weight: 500;
        font-size: 14px;

        margin-bottom: 15px;

    }

    .imgRecompense {
        width: 7%;
        height: 7%;

        margin-left: 40px;
    }

    .boiteContenuImage {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
        
        font-family: 'inter', sans-serif;
        font-weight: 500;
        font-size: 14px;

    }

    #boiteParaImage {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
    }

    #imgImage {
        width: 7%;
        height: 7%;

        margin-left: 40px;
    }

    #boiteImage {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footerArticle {
        width: 90%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-end;
        
        padding: 0 20px 20px 20px;

    }

    .organisateur {
        font-family: 'inter', sans-serif;
        font-size: 12px;
    }

    .participant {
        margin-top: 50px;

        font-family: 'inter', sans-serif;
        font-size: 12px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 20px;
    }

    .imgParticipant {
        width: 30%;
        height: 30%;
    }

    .boiteBtn {
        width: 220px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #boiteInscription {
        border-radius: 0;
    }

    #boiteValidation {
        border-radius: 0 0 10px 10px;
    }

    .validation {
        background: none;
        border: none;

        color: rgb(167, 220, 255);
        font-family: 'inter', sans-serif;
        font-weight: 200;
        font-size: 14px;

        padding: 15px;

        text-shadow: 0 4px 4px rgba(0, 0, 0);
    }

    .boiteBtn:hover {
        background-color: var(--halo-color, rgba(188,129,255,0.6));
    }

    .boiteBtn:hover .validation {
        color: rgba(0, 0, 0);
        font-weight: 500;
        
        text-shadow: 0 4px 4px var(--halo-color, rgba(188,129,255,0.6));
    }
